.wraper {
  height: 100vh;
  color: #fff;
  flex: 1 1 100%;
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(
    #000 calc(100% - 140px),
    transparent calc(100% - 100px)
  );
  mask-image: linear-gradient(
    #000 calc(100% - 140px),
    transparent calc(100% - 100px)
  );
}
.Manifesto {
  max-width: 960px;
  margin: auto;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

.Manifesto h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
}
.Manifesto p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.5em;
  text-align: left;
}
.Manifesto .bold {
  font-weight: bold;
  font-size: 1.7rem;
}
.body {
  padding: 100px 50px 0 30px;
}
.signup {
  text-align: center;
  padding-top: 20px;
}

@media screen and (max-width: 1050px) {
  .wraper {
    -webkit-mask-image: linear-gradient(transparent 65px, #000 110px);
    mask-image: linear-gradient(transparent 65px, #000 110px);
  }
}
