.title {
  position: relative;
  max-width: 700px;
  padding: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.title p {
  font-size: 1.7rem;

  color: #fff;
  margin-bottom: 0;
}
.title a {
  color: #fff;
  text-decoration: underline;
  font-size: 1.5rem;
  line-height: 1.4;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}
